html, ul, p, div{
    padding: 0;
    margin: 0;
}
.head{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: lawngreen;
    display: flex;
    justify-content: normal;
    align-items: normal;
}
.menu{
    width: 100%;
}
.menu ul{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    list-style: none;
}
li {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 14px;
    display: inline-block;
    width: 30px;
    text-align: center;
    padding: 30px;
}
.main-content{
    display: flex;
}
.side-bar{
    background-color: gray;
    font-size: 20px;
    height: 300px;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}
.content{
    background-color: red;
    height: 300px;
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: blue;
    margin: 10px;
    flex-shrink: 3;
    flex-grow: 3;
}