@import "../variables";
@import "../mixins/mixins";

.btn-warning {
  @include bordered-box;
  background-color: #FF9933;
  color: $colorLightYellow;

  span {
    border-top: 1px solid #6f6f6f;
  }
}
.btn-error{
  background-color: red;
  color: $colorRed;
}

