.cl1 {
    font-size: 30px;
    background-color: red;
}
.cl2 {
    font-size: 30px;
    background-color: blue;
}
.cl3 {
    font-size: 30px;
    background-color: yellow;
}
.cl4 {
    font-size: 30px;
    background-color: violet;
}
.cl5 {
    font-size: 30px;
    background-color: lawngreen;
}