label {
    display: block;
    margin-top: 20px;
    font-size: 40px;
}
span {
    color: red;
    display: block;
    position: absolute;
}
button {
    position: absolute;
    top: 65px;
    left: 620px;
    width: 210px;
    height: 200px;
    font-size: 60px;
    background-color: greenyellow;
    border-width: 5px;
    border-radius: 50%;
}
