html, body,.wrapper{
  height: 100%;
}
.wrapper {
  display: grid;
  grid-template-areas: "header" "nav" "content" "sidebar-left" "sidebar-right" "footer";
  grid-template-rows: 2fr 1fr 3fr 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 40px;
  text-align: center;
}
.header{
  grid-area: header;
  background-color: #ff4561;
  display: flex;
  justify-content: space-between;
}
.nav{
  grid-area: nav;
  background-color: #0f6674;
  &__list{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item{
    color: white;
  }
}
.content{
  grid-area: content;
  background-color: yellow;
}
.sidebar--left{
  grid-area: sidebar-left;
  background-color: red;
}
.sidebar--right{
  grid-area: sidebar-right;
  background-color: orange;
}
.footer{
  grid-area: footer;
  background-color: purple;
}
.header__bar{
  display: none;
}

@media screen and (min-width: 100px) and (max-width: 500px){
  .wrapper{
    grid-template-areas: "header header" "nav nav" "sidebar-left content" "sidebar-right sidebar-right" "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 4fr 1fr 1fr;
  }
  .header__bar{
    display: inline-block;
  }
  .nav{
    display: none;

  }
}

@media screen and (min-width: 500px){
  .wrapper{
    grid-template-areas: "header header header" "nav nav nav" "sidebar-left content sidebar-right" "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 1fr;
  }
  .header__bar{
    display: inline-block;
  }
  .nav{
    display: none;
    flex-direction: column;
  }
}
