@import "../variables";

.box{
  border: 1px solid red;
  padding: 10px;
  margin: 20px;
}

.panel {
  @extend .box;
  margin: 12px;
  background-color: $colorBlue;
  color: $colorWhite;
}
.panel-error {
  @extend .box;
  margin: 12px;
  background-color: $colorRed;
  color: $colorBlue;

  .panel-header {
    &, a {
      color: #6f6f6f;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .panel {
    background-color: $colorRed;
    color: white;
  }
}
@media screen and (max-width: 350px) {
  .panel {
    background-color: yellow;
    color: cornflowerblue;
  }
}
@media screen and (min-width: 350px) and (max-width: 760px) {
  .panel {
    background-color: greenyellow;
    color: black;
  }
}
@media screen and (min-width: 760px) and (max-width: 900px) {
  .panel {
    background-color: cornflowerblue;
    color: yellow;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .panel {
    background-color: white;
    color: purple;
  }
}

